
    <h2 class="portfolio">Portfolio</h2>              
    <div class="cards">
                     <figure class="card1">
					    <img class="pic1" src="img/port-pic1.png">
					    <figcaption>
					       <p>Graphic Design</p>
					    </figcaption>
					 </figure>
					 
					  <figure class="card2">
					    <img class="pic2" src="img/port-pic2.png">
					    <figcaption>
					       <p>UX Design</p>
					    </figcaption>
					 </figure>
					 
					  <figure class="card3">
					    <img class="pic3" src="img/port-pic3.png">
					    <figcaption>
					       <p>Motion Graphic Design</p>
					    </figcaption>
					 </figure>
					 
					  <figure class="card4">
					    <img class="pic4" src="img/port-pic4.png">
					    <figcaption>
					       <p>Photography</p>
					    </figcaption>
					 </figure>
					 
					 <figure class="card5">
					    <img class="pic5" src="img/port-pic5.png">
					    <figcaption>
					       <p>Web Design</p>
					    </figcaption>
					 </figure>
					 
					  <figure class="card6">
					    <img class="pic6" src="img/port-pic6.png">
					    <figcaption>
					       <p>Logo Design</p>
					    </figcaption>
					 </figure>
</div>





